{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" .Site.Params.BookDateFormat }}
<header class="markdown">
  <h1>{{ .Title }}</h1>
  <h5>
    <strong>{{ .Date.Format $dateFormat }}</strong>
  </h5>
</header>

{{ partial "tags" . }}

<article class="markdown">
  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  {{ partial "docs/post-meta" . }}
  <p>
    {{- .Content -}}
  </p>
</article>

{{ partial "share-buttons" . }}

{{ partial "related" . }}

{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
